{% extends 'tienda/layout.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide p-1">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active d-item">
        <img src="{% static 'media/img/fondonueces1.png' %}" class="d-block w-100 d-img" alt="...">
      </div>
      <div class="carousel-item d-item">
        <img src="{% static 'media/img/fondonueces1.png' %}" class="d-block w-100 d-img" alt="...">
      </div>
      <div class="carousel-item d-item">
        <img src="{% static 'media/img/fondonueces1.png' %}" class="d-block w-100 d-img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h2 class="ultimos-text">Últimos Productos Vistos</h2>
<div class="container">
        <div class="row justify-content-md-around">
            {% for producto in nuevos  %}
                <div class="col-md-3" >
                    <div class="card text-end carta-producto " >
                        <div class="card-body ">
                            <img src=" {{ media_url  }}{{ producto.imagen.url }}" class="card-img-top" alt="...">
                            <h5 class="card-title">{{producto.titulo}}</h5>
                            <p class="card-text">{{producto.descripcion |  slice:'0:50'}}...</p>
                            <p class="card-text precio"> ${{producto.precio}} </p>
                            
                            <a href="{% url 'tienda:producto' producto.id %}  " class="btn btn-primary btn-ver-mas">ver más</a>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    <hr>
</div>


<div class="container">
<h2 class="ultimos-text">Más productos</h2>
<hr>


<table class="table table-hover table-responsive-md">
    {% for producto in productos  %}
        <tr>
            <td scope="col " class="col-sm-1"> <img src=" {{ media_url  }}{{ producto.imagen.url }}" class= "img-fluid" style="max-width: 55%;" alt= {{producto.titulo}}>  </td>
            <td scope="col"> {{producto.titulo}} </td>
            <td scope="col">{{producto.descripcion |slice:"0:50"}}... </td>
            <td scope="col">${{producto.precio}} </td>
            <td scope="col"><a href="{% url 'tienda:producto' producto.id %}  " class="btn btn-primary">ver más</a> </td>
            
        </tr>
      {% endfor %}

</table>
</div>

{% endblock content %}

