{% extends "tienda/layout.html" %}
{% block content %}
<br>
<div class="col-12 col-md-6 off-set-md-3">
    <div class="card">
        <h3 class="card-header text-center" >Formulario de Registro</h3>
        <div class="card-body">
            <div class="input-group flex-nowrap">
            
                <hr>
                <br>
                <form method="post">
                {% csrf_token %}
                {% for campo in form %}
                <p>
                {{ campo.label_tag }}<br>
                {{ campo }}
                {% if campo.help_text %}
                <small style="color:gray ">{{ campo.help_text }}</small>
                {% endif %}
                {% for error in campo.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
            
                <button type="submit" class="btn btn-primary">Confirmar Registro</button>
                <button type="reset" class="btn btn-secondary">Resetear campos</button>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}