{% extends "tienda/layout.html" %}

{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card fondo-formulario-color">
                    <div class="card-body">
                        <h3 class="card-title text-center">Formulario de Registro</h3>
                        <hr>
                        <form method="post">
                            {% csrf_token %}
                            {% for campo in form %}
                                <div class="mb-3">
                                    {{ campo.label_tag }}
                                    {{ campo }}
                                    {% if campo.help_text %}
                                        <small class="text-muted">{{ campo.help_text }}</small>
                                    {% endif %}
                                    {% for error in campo.errors %}
                                        <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Confirmar Registro</button>
                            <button type="reset" class="btn btn-secondary">Resetear campos</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
